@page
@model Login
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    ViewData["Title"] = "Formulario";
}

<div class="text-center">
    <h1 class="display-4">Iniciar Sesión</h1>
   
   <form method="post">
     <div>
      <div><label>Usuario:</label></div>
      <div> 
        <input asp-for="usuario.Nombre" />
        <span asp-validation-for="usuario.Nombre"></span>
      </div>      
     </div>
     <div>
      <div><label> Contraseña:</label></div>
      <div>
        <input type="password" asp-for="usuario.Clave" />
        <span asp-validation-for="usuario.Clave"></span>
      </div>
     </div>
   
    <input type="submit" />
</form>
 

</div>
