@page
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    ViewData["Title"] = "Formulario";
}

<div class="text-center">
    <h1 class="display-4">Gracias por responder el formulario.</h1>
</div>
