@page
@model IngresarFormulario
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    ViewData["Title"] = "Formulario";
}

<div class="text-center">
    <h1 class="display-4">FORMULARIO</h1>
   
   <form method="post">
       <table>
        <tr>
            <td> Nombre:  </td>
            <td>
                <input asp-for="form.Nombre" />
                <span asp-validation-for="form.Nombre"></span>
            </td>
        </tr>
        <tr>
            <td>  Apellido:  </td> 
            <td>
                <input asp-for="form.Apellido" />
                <span asp-validation-for="form.Apellido"></span>
            </td>
        </tr>
        <tr>
            <td>Correo: </td>
            <td>
                <input asp-for="form.Correo"      />
                <span asp-validation-for="form.Correo"></span>
            </td>
        </tr>
        <tr>
            <td>Direccion:  </td>
         <td>
              <input asp-for="form.Direccion" />
                <span asp-validation-for="form.Direccion"></span>
         </td>
        <tr>
            <td>Observacion:  </td>
            <td>
                 <input asp-for="form.Observacion"/>
                <span asp-validation-for="form.Observacion"> </span>
            </td>
        </tr>
          <tr>
               <td><input type="submit" /></td>
               
          </tr>
       </table>
  

    
</form>


</div>
