@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Bienvenido</h1>
    <p>Por favor inicie sesión <a asp-page="/login/Login">aqui</a>.</p>
</div>
